@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mukta:wght@200;500&family=Russo+One&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mukta:wght@200;500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mr+De+Haviland&family=Mukta:wght@200;500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
}



nav, .navbar{
    position: absolute;
    z-index: 99999;
    left: 0;
    right: 0;
}
nav:hover{
  background: rgb(255,255,255);
  background: linear-gradient(140deg, rgba(255,255,255,1) 30%, rgba(159,132,147,1) 100%) !important;
  width: 100%;
  height: 24vh;
  transition: .5 ease-in-out;
}
.navbar-brand{
  width: 16%;
  height: 10vh;
  position: absolute;
  display: block;
  left: 40%;
  top: 68%;
  background-image: url("../images/FI_copper_landscape_standard_white_205x.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
}
nav:hover .navbar-brand{
  background-image: url("../images/FI_copper_landscape_standard_205x.avif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 20%;
  
}

.navbar-toggler{
  border-color: white;
  position: absolute;
  left: 6%;
  top: 78%;
}
.navbar-toggler:hover{
  border-color: white;
  outline: none;
}
nav:hover .navbar-toggler{
  top: 30%;
  left: 6%;
  color: #1b1b1b;
  border-color: black;
}
.fa-bars{
  color: white;
}
nav:hover .fa-bars{
  color: black;
}
.navbar-nav{
 position: absolute;
 top: 68%;
 left: 70%;
 gap: 10%;
 right: 0;
}
nav:hover .navbar-nav{
  top: 38% !important;
}
.nav-link{
  color: white;
}
nav:hover .nav-link{
  color: black;
  cursor: pointer;
}
.navbar-nav1{
  position: absolute;
  list-style: none;
  top: 7.5em;
  right: 46em;
  gap: 20%;
}
.nav-item1,.nav-link1{
  color: white;
  list-style: none;
  text-decoration: none;
}
.nav-link1::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4.5vh;
  left: 70px;
  border-bottom: 4px solid black;
 transition: .4s ease-in-out;
}
.nav-link1:hover::after{
  width: 30%;
  color: black;
  left: 74px;
}
.nav-items::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4.5vh;
  left: 62%;
  border-bottom: 4px solid black;
 transition: .4s ease-in-out;
}
.nav-items:hover::after{
  width: 26%;
  color: black;
  left: 65%;
}
.nav-items1::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4.5vh;
  left: 16em;
  border-bottom: 4px solid black;
  transition: .4s ease-in-out;
}
.nav-items1:hover::after{
  width: 26%;
  color: black;
  left: 17em;
}
.nav-items2::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4.5vh;
  left: 22em;
  border-bottom: 4px solid black;
 transition: .4s ease-in-out;
}
.nav-items2:hover::after{
  width: 26%;
  color: black;
  left: 22.5em;
}
.nav-items3::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4.5vh;
  left: 28em;
  border-bottom: 4px solid black;
 transition: .4s ease-in-out;
}
.nav-items3:hover::after{
  width: 26%;
  color: black;
  left: 29em;
}
nav:hover .nav-link1{
  top: 1em;
  color: black;
  cursor: pointer;
}
.fixed{
  position: fixed;
  height: 24vh;
  top: 0;
  left: 0;
  padding-top: 0;
  z-index: 99999;
  background: rgb(255,255,255);
  background: linear-gradient(201deg, rgba(255,255,255,1) 30%, rgba(159,132,147,1) 100%);
  transition: .5 ease-in-out;
}

.fixed .navbar-brand{
  top: 20%;
  background-image: url("../images/FI_copper_landscape_standard_205x.avif");
}
.fixed .nav-link1{
  color: black;
}
.fixed .navbar-nav{
  top: 38%;
}
.fixed .nav-link{
  color: black;
}
.fixed .navbar-toggler{
  top: 30%;
  border-color: black;
}
.fixed .fa-bars{
  color: black;
}

.banner{
    position: relative;
}
.banner-pic{
    width: 100%;
    height: 108vh;
  }
  .owl-dots{
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
  .owl-carousel-banner .active .banner-txt{
   animation: flip 4s ease-in;
  }

  .owl-carousel-banner .active .banner-txt1{
    animation: fadeInUpBig 4s ease-in;
  }

  .owl-carousel-banner .active .banner-buttonbx{
    animation: rollIn 4s ease-in;
  }

  .banner-text{
    position: absolute;
    color: white;
    top: 66%;
    left: 4%;
  }
  .banner-txt{
    font-size: 14px;
    word-spacing: 4px;
    letter-spacing: 4px;
  }
  .banner-txt1{
    font-size: 26px;
    font-weight: 200 !important;
    word-spacing: 6px;
    letter-spacing: 4px;
  }
  .banner-buttonbx{
    display: flex;
    grid-template-columns: 1fr,1fr !important;
    justify-content: flex-start;
    gap: 2%;
    margin: -8px;
  }
  .bttn-group{
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 14px 28px;
    border: 1px solid white;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 20%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .bttn-group:hover span{
    color: black;
  }
  
  .bttn-group::after, .bttn-group::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .bttn-group::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .bttn-group:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .bttn-group::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .bttn-group:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }

  .bttn-group1{
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 14px 28px;
    border: 1px solid white;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 24%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .bttn-group1:hover span{
    color: black;
  }
  
  .bttn-group1::after, .bttn-group1::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .bttn-group1::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .bttn-group1:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .bttn-group1::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .bttn-group1:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }
  .bttn-group2{
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 14px 34px;
    border: 1px solid white;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 30%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .bttn-group2:hover span{
    color: black;
  }
  
  .bttn-group2::after, .bttn-group2::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .bttn-group2::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .bttn-group2:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .bttn-group2::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .bttn-group2:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }
  .bttn-group3{
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 14px 20px;
    border: 1px solid white;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 40%;
    text-align: center;
  }
  
  span{
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .bttn-group3:hover span{
    color: black;
  }
  
  .bttn-group3::after, .bttn-group3::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .bttn-group3::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .bttn-group3:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .bttn-group3::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .bttn-group3:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }
  .con-a{
    padding-top: 6%;
  }
  .a-image{
    padding-left: 30%;
    padding-bottom: 6%;
  }
  .a-txt-title{
    color: #1b1b1b;
    font-family: "lora", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .a-txt-title:hover{
    color: #7777;
  }
  .a-txt{
    color: #3d3d3d;
    font-family: "open-sans";
    font-size: 16px;
    margin: 20px 10px;
    line-height: 26px;
    font-weight: 400;
  }

  .section{
    width: 100%;
    margin-top: 6%;
  }
  
  .img-sec{
    position: relative;
    background-image: url("../images/wedding_005_1400x.webp");
    width: 100%;
    height: 94vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
  }
  .img-text{
    position: absolute;
    top: 20.5em;
    left: 6%;
    color: white;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  .img-text p{
    font-family: "open-sans", sans-serif;
  }
  .img-text h4{
    font-size: 24px;
    padding-top: 3%;
    letter-spacing: 4px;
    font-family:  "lora", sans-serif;
  }
  
  .bttn{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "lora", sans-serif;
    color: white;
    letter-spacing: 2px !important;
    background: transparent;
    margin-top: 6% !important;
    padding: 14px 38px;
    border: 1px solid white;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 50%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .bttn:hover span{
    color: black;
  }
  
  .bttn::after, .bttn::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .bttn::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .bttn:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .bttn::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .bttn:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
  }
  
  .row{
    margin: auto;
    transition: all .1s ease-in;
  }
  .img-box1{
    width: 108%;
    height: 88vh;
    position: relative;
    overflow: hidden;
   left: -12%;
  }
  .flower-img{
    width: 108%;
    height: 100%;
    background-image: url("../images/171122_FLORAL_INK_095-1_1000x.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 5s ease-in;
    position: relative;
  }
  .over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
  }
  .flower-img:hover{
    background-size: 140%;
    transform: scale(100%);
  }
  .img-box2{
    width: 108%;
    height: 88vh;
    position: relative;
    overflow: hidden;
    left: 2%;
  }
  .flower-img1{
    background-image: url("../images/Hamper-Romance_0873_1000x.jpg");
    width: 108%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 5s ease-in;
    position: relative;
  }
  .flower-img1:hover{
    background-size: 140%;
    transform: scale(100%);
  }
  
  .middle-text{
    position: absolute;
    top: 64%;
    left: 10%;
  }
  .middle-txt{
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    font-family: "open-sans", sans-serif;
  }
  .middle-text h4{
    color: white;
    font-size: 23px;
    font-family:  "lora", sans-serif;
    padding-top: 2%;
    letter-spacing: 4px;
  }
  .middle-bttn{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "lora", sans-serif;
    color: white;
    letter-spacing: 2px !important;
    background: transparent;
    margin-top: 10% !important;
    padding: 14px 38px;
    border: 1px solid white;
    font-size: 13px;
    letter-spacing: 1px;
    overflow: hidden;
    width: 89%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .middle-bttn:hover span{
    color: black;
  }
  
  .middle-bttn::after, .middle-bttn::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .middle-bttn::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .middle-bttn:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .middle-bttn::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .middle-bttn:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
  }
  
  .floral-background{
    width: 100%;
    height: auto;
  }
  .floral-img{
   position: relative;
   width: 100%;
   height: 86vh;
   background-image: url("../images/Will-Edith-10-Years-24_1500x.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  }
  .over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 100%;
  }
  
  .floral-text{
    position: absolute;
    top: 14%;
    left: 35%;
    margin: auto;
    color: white;
  }
  .flo-txt{
    text-align: center;
    font-size: 14.4px;
    font-family: "open-sans", sans-serif;
    letter-spacing: 2px;
  }
  .flo-txt1{
    line-height: 36px;
    padding-top: 2%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    font-family: "lora", sans-serif;
    letter-spacing: 3px;
  }
  .flo-txt2{
    line-height: 26px;
    padding-top: 3%;
    text-align: center;
    font-size: 13.5px;
    font-weight: 500;
    font-family: "open-sans", sans-serif;
    letter-spacing: 1px;
  }
  .flo-txt2 span{
    font-size: 13px;
    font-weight: 200;
    font-family: "lora", sans-serif;
    letter-spacing: 1px;
  }

  .delivery{
    padding-top: 5%;
    width: 100%;
    height: auto;
  }
  .flower-delivery{
    text-align: center;
  }
  .flower-txt{
    font-size: 14px;
    font-family: "open-sans", sans-serif;
    line-height: 36px;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  .flower-txt1{
    font-family: "lora",sans-serif;
    padding-top: 1%;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  .flower-container{
    width: 100%;
    height: auto;
    padding-top: 4%;
    margin-left: 2%;
    justify-content: space-between;
    gap: 40% !important;
  }
  
  .shop-containt{
    margin-left: -6em;
    margin-right: 2em;
  }
  .delivery-img{
    width: 140%;
    height: 268px;
    background-image: url("../images/171122_FLORAL_INK_092_400x.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .delivery-img:hover{
    background-image: url("../images/171122_FLORAL_INK_021_300x.avif");
    background-repeat: no-repeat;
    transition: .4s ease-in;
  }
  .shop-containt1{
    margin-right: 2em;
  }
  .delivery-img2{
    width: 140%;
    height: 268px;
    background-image: url("../images/171122_FLORAL_INK_095_400x.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .delivery-img2:hover{
    background-image: url("../images/171122_FLORAL_INK_059_300x.avif");
    background-repeat: no-repeat;
    transition: .4s ease-in;
  }
  .shop-containt2{
    margin-right: 2em;
  }
  .delivery-img3{
    width: 140%;
    height: 268px;
    background-image: url("../images/171122_FLORAL_INK_094_400x.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .delivery-img3:hover{
    background-image: url("../images/171122_FLORAL_INK_030_300x.avif");
    background-repeat: no-repeat;
    transition: .4s ease-in;
  }
  
  .delivery-img4{
    width: 140%;
    height: 268px;
    background-image: url("../images/171122_FLORAL_INK_093_400x.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .delivery-img4:hover{
    background-image: url("../images/171122_FLORAL_INK_044_300x.avif");
    background-repeat: no-repeat;
    transition: .4s ease-in;
  }
  .deli-txt{
    padding-top: 8%;
    padding-left: 6.8em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: "lora",sans-serif;
    letter-spacing: 2px;
  }
  .deli-txt:hover{
    cursor: pointer;
  }
  .deli-txt1{
    padding-top: 1%;
    padding-left: 6.6em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: "open-sans",sans-serif;
    letter-spacing: 2px;
    color: rgb(97, 97, 97);
    opacity: 0;
  }
  .shop-containt:hover .deli-txt1{
    opacity: 1;
    transition: .5s ease-in;
  }
  .shop-containt1:hover .deli-txt1{
    opacity: 1;
    transition: .5s ease-in;
  }
  .shop-containt2:hover .deli-txt1{
    opacity: 1;
    transition: .5s ease-in;
  }
  .shop-containt3:hover .deli-txt1{
    opacity: 1;
    transition: .5s ease-in;
  }
  .middle-bttn1{
    display: block;
    position: relative;
    text-decoration: none;
    color: #aa7152;
    letter-spacing: 2px !important;
    background: transparent;
    margin-top: 4% !important;
    padding: 14px 38px;
    margin-left: 40%;
    border: 1px solid #aa7152;
    font-size: 14px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    overflow: hidden;
    width: 26%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .middle-bttn1:hover span{
    color: white;
  }
  
  .middle-bttn1::after, .middle-bttn1::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #aa7152;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .middle-bttn1::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .middle-bttn1:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .middle-bttn1::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .middle-bttn1:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
  }

  .con-client-container{
    position: relative;
  }
  .client-img{
    width: 98%;
  }
  .client{
    background-image: url("../images/h1-parallax-img-1.jpg");
    width: 100%;
   height: 58vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 .client-containt{
   position: absolute;
   top: 40%;
   left: 10%;
 }
 .client-cont{
   color: white;
 }
  .client-c{
    font-family: "lora", sans-serif;
    margin-left: 12%;
    line-height: 0.9;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .client-co{
    font-family: "lora", sans-serif;
    line-height: 0.9;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 24px 0;
  }

  .gift-box{
    width: 100%;
    height: 50vh;
    background-image: url("../images/h1-img-2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
.wonder-text{
  display: block;
  color: #1b1b1b;
  font-family: "Mr De Haviland", cursive;
  font-size: 55px;
  line-height: 1em;
  margin-bottom: 7px;
}
.gift-title{
  color: #1b1b1b;
  font-family: "lora", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
}
.gift-txt{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666d3;
  line-height: 26px;
  display: block;
  margin: 14px 0;
}
.gift-bttn{
  padding: 20px 32px 20px 33px;
  font-family: "open-sans", sans-serif;
  font-size: 12px;
  color: #1b1b1b;
  line-height: 1.15em;
  letter-spacing: .15em;
  font-weight: 600;
  text-transform: uppercase;
}
.gift-bttn:hover{
  color: white;
  background: #1b1b1b;
}

#team{
  width: 100%;
  height: auto;
  margin-top: 8%;
}
.team-sec{
  width: 100%;
  height: 100vh;
 background-image: url("../images/h1-img-2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.team-txt{
  color: #1b1b1b;
  font-family: "lora",sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20px;
}
.team-containt{
  margin-top: 4%;
}
.team-img{
  width: 100%;
  height: 40vh;
}
.team-title{
  font-size: 17px;
  color: #1b1b1b;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.team-text{
  color: #777;
  font-weight: 400;
  font-size: 15px;
  font-family: "open-sans",sans-serif;
  line-height: 26px;
  margin: 10px 0 5px;
  text-align: center;
}
.social-s{
  gap: 20%;
  margin-left: 14%;
}
.social-symbol, .social-symbol i{
  list-style: none;
}
.social-symbol i:hover{
  color: #777;
  cursor: pointer;
}

  .testimony-img{
    position: relative;
  }
  .testi-image{
    background-image: url("../images/h1-parallax-img-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
  }
  .owl-carousel-testimony{
    position: absolute;
    top: 20%;
    left: 22%;
    width: 50%;
  }
 .testmonial-txtholder{
  color: #ffff;
 }
.testimonial-title{
  font-family: "Mr De Haviland", cursive;
  font-size: 55px;
  line-height: 1.23em;
}
.test-entrytitle{
  font-family: "lora", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
}
.testi-txt{
  font-size: 19.5px;
  font-family: "open-sans",sans-serif;
  font-weight: 300;
  line-height: 1.65em;
  margin: 20px 0;
}
.testi-author-name{
  font-family: "lora",sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 20px 0;
}
.owl-carousel-testimony .owl-dots{
   position: absolute;
   top: 102%;
   left: 4%;
}



  .deli-address{
    margin-top: 6%;
    border-top: 1px solid rgba(128, 128, 128, 0.781);
  }
  .container1{
    justify-content: space-between !important;
    padding-top: 8%;
    margin-left: 16%;
    gap: 6%;
  }
  .deli-addtxt{
    margin-top: 6%;
    text-align: center;
  }
  .deli-addtxt1{
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "open-sans",sans-serif;
  }
  .deli-addtxt2{
    padding-top: 1%;
    font-size: 22px;
    font-weight: 510;
    letter-spacing: 6px;
    font-family: "lora",sans-serif;
  }
  .deli-columntxt{
    text-align: left;
  }
  .deli-text1{
    font-family: "open-sans",sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 4px;
  }
  .deli-text2{
    font-family: "lora",sans-serif;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 4px;
    padding-top: 4%;
  }
  .deli-text3{
    font-family: "open-sans",sans-serif;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 2%;
    color: rgb(109, 109, 109);
  }
  .share-box{
    padding-top: 4%;
    border-top: 1px solid rgba(128, 128, 128, 0.781);
    margin-right: 40%;
    text-align: left;
    margin-top: 4%;
  }
  .share-b{
    gap: 4%;
  }
  .share-text{
    text-align: left;
    margin-left: -7%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    color: rgba(128, 128, 128, 0.781);
    font-family: "open-sans", sans-serif;
  }
  .share-b li{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.781);
    list-style: none;
    text-align: left;
    column-gap: 20% !important;
    word-spacing: 10px !important;
    font-family: "open-sans", sans-serif;
  }
  .share-b li:hover{
    color: rgba(75, 75, 75, 0.836);
    cursor: pointer;
  }
  .productform-option{
    gap: 10%;
    width: 100%;
    height: auto;
    margin-left: -20%;
  }
  .productform-item{
    position: relative;
    width: 58%;
    padding: 1%;
    margin-bottom: 2% !important;
    border: 1px solid rgba(163, 163, 163, 0.781);
    text-align: left;
  }
  .productform-optionname{
    font-size: 14px;
    font-family: "open-sans", sans-serif;
  }
  #deliver-p{
    display: inline-block;
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    vertical-align: top;
    font-size: 14px;
    font-family: "open-sans",sans-serif;
    outline: none;
    border: none;
  }
  .product-bttn1{
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(88, 88, 88);
    letter-spacing: 2px !important;
    background: transparent;
    margin-top: 2% !important;
    padding: 12px 36px;
    margin-left: 21%;
    border: 1px solid rgba(163, 163, 163, 0.781);
    font-size: 14px;
    font-weight: 400;
    font-family: "lora",sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    width: 58%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .product-bttn1:hover span{
    color: white;
  }
  
  .product-bttn1::after, .product-bttn1::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #aa7152;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .product-bttn1::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .product-bttn1:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .product-bttn1::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .product-bttn1:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
  }
  .gallery{
    padding-top: 8%;
  }
  .gallery-txt{
    width: 100%;
  }
  .gall-txt{
    text-align: center;
    position: relative;
    margin-left: 2%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .gall-txt::before{
    position: absolute;
    content: "";
    width: 13%;
    height: 2%;
    background-color: black;
    left: 43.4%;
    bottom: -6px;
  }
  .gall-txt:hover::before{
    transition: .8s ease-in;
    left: 43.4%;
    width: 0;
  }
  .gall-txt:hover{
    cursor: pointer;
  }
  .gallery-box{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin-left: -10%;
  }
  .gallery-img{
    width: 116%;
    height: 48vh;
  }
  .overlay1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: 0.5s ease-in;
  }
  .overlay1:hover{
    opacity: 1;
    cursor: pointer;
  }
  .overlay1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 116%;
    height: 100%;
    background-color: rgba(0,0,0,000.5);
  }
  .social-i i{
    position: absolute;
    text-align: center;
    top: 44%;
    left: 20%;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: white;
    z-index: 99999 !important;
  }
.flower-container{
  margin-left: 7%;
}
.gal-flo{
  width: 102%;
  height: 44vh;
  margin-bottom: 10%;
}

  .store-locationpic img{
    height: 94vh !important;
  }
  .store-address{
    width: 100%;
    height: auto;
  }
  .store-location{
    padding-top: 3%;
  }
  .store-locationdetails{
    width: 120%;
    height: 100%;
    background-color: white;
    margin-left: -6.2%;
    overflow: hidden;
  }
  .store-locationtxt{
    padding-top: 12%;
    padding-left: 15%;
    font-size: 22px;
    font-family: "lora",sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .store-locationtxt1{
    line-height: 26px;
    padding-left: 15%;
    font-size: 14px;
    font-family: "open-sans",sans-serif;
    letter-spacing: 1px;
    text-align: left;
  }
  .store-locationtxt1 a{
    color: black;
    font-size: 14px;
    font-family: "open-sans",sans-serif;
  }
  .store-locationtxt2{
    line-height: 26px;
    padding-left: 15%;
    font-size: 14px;
    font-weight: 600;
    font-family: "open-sans",sans-serif;
    letter-spacing: 1px;
    text-align: left;
  }
  .store-openhours1{
    line-height: 27px;
    padding-left: 8%;
    font-size: 14px;
    list-style: none;
    font-family: "lora",sans-serif;
    letter-spacing: 1px;
    text-align: left;
  }
  
  .direction-bttn1{
    display: block;
    position: relative;
    text-decoration: none;
    color: #aa7152;
    letter-spacing: 2px !important;
    background: transparent;
    margin-top: 8% !important;
    padding: 12px 24px;
    margin-left: 15%;
    border: 1px solid #aa7152;
    font-size: 14px;
    font-weight: 500;
    font-family: "lora",sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    width: 54%;
    text-align: center;
  }
  
  span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
  }
  .direction-bttn1:hover span{
    color: white;
  }
  
  .direction-bttn1::after, .direction-bttn1::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #aa7152;
    z-index: -1;
    transform-origin: right !important;
  }
  
  .direction-bttn1::before {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .direction-bttn1:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  .direction-bttn1::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  .direction-bttn1:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
  }

  footer{
    height: auto;
  }
  .foot-img{
    height: 90vh;
    position: relative;
    background-image: url("../images/h2-background-img-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overlay{
    position: absolute;
    color: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
  }
  .foot{
    width: 100%;
    height: auto;
    margin-top: 7%;
  }
  .foot-bx{
    position: relative;
    height: 80vh;
  }
  .foot-txt{
    margin-top: 10%;
    font-size: 14px;
    color: white;
    font-family: "lora",sans-serif;
    letter-spacing: 3px;
    margin-left: -8%;
  }
  .foot-txt1{
    margin-top: 6%;
    line-height: 50px;
  }
  .foot-txtbx{
    list-style: none;
    font-size: 14px;
    color: #c4b6b6;
    font-family: "lora",sans-serif;
    margin-left: -18%;
    letter-spacing: 1px;
  }
  .foot-txtbx a{
    color: #c4b6b6;
    letter-spacing: 0;
    font-size: 14px;
    transition: .6s ease-in;
  }
  .foot-txtbx a:hover{
    color: rgb(190, 137, 162);
  }
  .foot-txt2{
    margin-top: 10%;
    font-size: 14px;
    color: white;
    font-family: "lora",sans-serif;
    letter-spacing: 3px;
    margin-left: 30%;
  }
  .foot-txtbx1{
    list-style: none;
    font-size: 14px;
    color: #c4b6b6;
    font-family: "open-sans",sans-serif;
    margin-left: 30%;
    letter-spacing: 1px;
    padding-top: 4%;
    transition: .6s ease-in;
  }
  .foot-txtbx1:hover{
    color: rgb(190, 137, 162);
    cursor: pointer;
  }
  .foot-txt3{
    margin-top: 10%;
    font-size: 14px;
    color: #c4b6b6;
    font-family: "open-sans",sans-serif;
    letter-spacing: 2px;
    margin-left: 24%;
  }
  .foot-txt3 a{
    transition: .6s ease-in;
    color: #c4b6b6;
    letter-spacing: 1px;
  }
  .foot-txt3 a:hover{
    color: rgb(190, 137, 162);
  }
  .foot-social{
    font-size: 15px;
    color: #c4b6b6;
    margin-top: 10%;
    margin-left: -8%;
    padding-right: 70%;
  }
  .foot-social i:hover{
    transition: .6s ease-in;
    color: rgb(190, 137, 162);
    cursor: pointer;
  }
  .foot1{
    width: 100%;
    height: 10vh;
    background-color: transparent;
  }
  .foot-textbx{
    margin-left: 6%;
    font-size: 12px;
    color: rgb(126, 83, 108);
    letter-spacing: 3px;
    padding-top: 2%;
  }

  #totop {
    padding: 10px 14px;
    border-radius: 20%;
    background: rgb(255,255,255);
    background: linear-gradient(140deg, rgba(255,255,255,1) 30%, rgba(159,132,147,1) 100%);
    color: rgba(159,132,147,1);
    font-size: 26px;
    font-weight: 600;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 28px !important;
    bottom: 28px;
    z-index: 9999;
  }

@media(max-width: 991px){
  nav{
    position: static;
  }
  .navbar-nav{
    position: static;
    margin-left: 6%;
  }
  .navbar-nav1{
    margin-top: -1%;
    flex-wrap: wrap;
    position: static;
    margin-left: 2.5%;
    width: 10%;
    line-height: 2.5em;
  }
  .navbar-collapse{
    position: absolute;
    height: 74vh;
    background: rgb(159,132,147);
    background: linear-gradient(114deg, rgba(159,132,147,1) 30%, rgba(164,51,93,1) 100%);
    top: 5em;
    left: 0;
    right: 0;
  }
  .nav-link1::after{
   opacity: 0;
  }
  .nav-items::after,.nav-items1::after,.nav-items2::after,.nav-items3::after{
    opacity: 0;
  }
  .img-text{
    top: 14em;
  }
  .flower-img{
    height: 82%;
  }
  .middle-text{
    top: 52%;
  }
  .flower-img1{
    height: 82%;
  }
  .floral-img{
    height: 106vh;
   }
   .floral-text{ 
    top: 9%;
    left: 26%;
  }
  .shop-containt{
    margin-left: -4em;
    margin-right: 3em;
  }
  .delivery-img{
    height: 70vh;
  }
  .shop-containt1{
   margin-right: 0;
  }
  .delivery-img2{
    height: 70vh;
  }
  .shop-containt2{
    margin-left: -4em;
    margin-right: 3em;
  }
  .delivery-img3{
    height: 70vh;
  }
  .shop-containt3{
    margin-right: 0;
  }
  .delivery-img4{
    height: 70vh;
  }
  .deli-txt{
    padding-left: 10.2em;
  }
  .deli-txt1{
    padding-left: 10em;
  }
  .client{
   height: 66vh;
  }
  .client-containt{
    top: 20%;
    left: 16%;
  }
  .gift-img{
    margin-top: 10%;
  }
  .testi-image{
    height: 140vh;
  }
  .owl-carousel-testimony{
    top: 16%;
    left: 18%;
  }
  .owl-carousel-testimony .owl-dots{
    left: 12%;
 }
 .container1{
   margin-left: 6%;
   gap: 8%;
 }
 #team{
  height: 200vh;
 }
 .team-sec{
   width: 100%;
 }
 .team-img{
  height: 60vh;
 }
 .social-s{
   margin-left: 20%;
 }
 .gal-flo{
   height: 64vh;
 }
 .store-locationpic img{
  width: 108%;
 }
 .store-locationbx{
  margin-left: -16%;
 }
 .store-locationtxt{
  padding-top: 2%;
  padding-left: 2.4em;
 }
 .store-locationtxt1{
  margin-top: -6%;
  padding-left: 20%;
  line-height: 19px;
 }
 .store-locationtxt2{
  padding-left: 5em;
  margin-top: -1em;
 }
 .store-openhours1{
  padding-left: 10%;
  margin-top: -0.4em;
  line-height: 26px;
 }
 .direction-bttn1{
  width: 84%;
 }
 .flowerfoot-box1{
  margin-left: -2em;
 }
 .foot-txt{
  margin-left: -6%;
 }
 .flowerfoot-box2{
  margin-left: -1em;
 }
 .flowerfoot-box3{
   margin-top: 1em;
   margin-left: -8em;
 }
}  

@media(max-width: 780px){

}